.ladder_title {
    font-weight: bold;
}

.location {
    font-size: smaller;
}

.ul_no_bullet {
    list-style-type: none;
}

.box_score {
    border: solid;
}

.game {
    width: 175%;
}

.badge-tip {
    background-image: url(../../assets/images/badges-50-sprite.png);
    background-repeat: no-repeat;
    /*width: 50px;*/
    height: 50px;
    /*padding: 25px;*/
    /*border:solid;*/
}

/* teams */

.teamManchester_United {
    background-position: -550px -400px;
}

.teamLeicester_City {
    background-position: -500px -250px;
}

.teamWatford {
    background-position: -700px -50px;
}

.teamBournemouth {
    background-position: -100px -250px;
}

.teamNewcastle_United {
    background-position: -550px -500px;
}

.teamCrystal_Palace {
    background-position: -100px -350px;
}

.teamChelsea {
    background-position: -300px -300px;
}

.teamEverton {
    background-position: 0px -400px;
}

.teamTottenham_Hotspur {
    background-position: -500px -650px;
}

.teamManchester_City {
    background-position: -500px -500px;
}

.teamArsenal {
    background-position: 0px -100px;
}

.teamSouthampton {
    background-position: -600px -500px;
}

.teamLiverpool {
    background-position: -500px -450px;
}

.teamWest_Ham {
    background-position: -700px -150px;
}

.teamBurnley {
    background-position: -50px -300px;
}

.teamCardiff_City {
    background-position: -150px -300px;
}

.teamBrighton {
    background-position: -200px -200px;
}

.teamFulham {
    background-position: -450px -200px;
}

.teamWolverhampton {
    background-position: -650px -400px;
}

.teamHuddersfield {
    background-position: -150px -450px;
}

.t_01 {
    background-position: -548px -400px;
    /*border:solid;*/
}

.t_02 {
    background-position: -498px -250px;

}

.t_03 {
    background-position: -550px -500px;
}

.t_04 {
    background-position: -500px -650px;
}

.pad_left {
    padding-left: 20px;
}

.pad_right {
    padding-right: 20px;
}
