  <div class="w-100 py-2">
    <div class="container">
      <div *ngIf="games" class="row">
        <div class="col-md-12">
          <h2>This Week's Games</h2> <!-- ultimately figure out what the correct date is -->
          <div class="row">
            <!-- this is the column (below) for the games to pick from -->
            <div class="col-md-7">
              <div class="row border">
                <div class="col-md-12">
                  <div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item" *ngFor="let game of games">
                        <div *ngIf="displayGameDate(game.date)" class="game_date">{{ niceDate(game.date) }}</div>
                        <div class="row location">{{ getVenueName(game.home)}}</div>
                        <div class="row ">
                          <div class="col-md-1"><input type="radio"></div>
                          <div class="col-md-4 text-right pad_right">{{ game.home }}</div>
                          <div class="col-md-1 text-center badge-tip {{getTeamBadgeID(game.home)}}"></div>
                          <div class="col-md-1 text-center badge-tip {{getTeamBadgeID(game.away)}}"></div>
                          <div class="col-md-4 text-left pad_left">{{ game.away }}</div>
                          <div class="col-md-1 "><input type="radio" class=" right-align"></div>
                        </div>
                        <div class="row">
                          <div class="col-md-4"></div>
                          <div class="col-md-2">
                            <input type="number" class="form-control" id="score_a" value="0">
                          </div>
                          <div class="col-md-2">
                            <input type="number" class="form-control" id="score_b" value="0">
                          </div>
                          <div class="col-md-4"></div>
                        </div>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
            </div> 
<!-- ladder  -->
            <div class="float-right col-md-5 border-secondary border">
              <div class="row ladder_title border">
                <div class="col-md-4">Team</div>
                <div class="col-md-1">P</div>
                <div class="col-md-1">W</div>
                <div class="col-md-1">D</div>
                <div class="col-md-1">L</div>
                <div class="col-md-1">GF</div>
                <div class="col-md-1">GA</div>
                <div class="col-md-1">GD</div>
                <div class="col-md-1">Pts</div>
              </div>
              <div class="row">
                <div class="col-md-4">Arsenal</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
              </div>
              <div class="row">
                <div class="col-md-4">Bournemouth</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
              </div>
              <div class="row">
                <div class="col-md-4">Brighton</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
              </div>
              <div class="row">
                <div class="col-md-4">Burnley</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
              </div>
              <div class="row">
                <div class="col-md-4">Cardiff City</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
              </div>
              <div class="row">
                <div class="col-md-4">Chelsea</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
              </div>
              <div class="row">
                <div class="col-md-4">Crystal Palace</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
              </div>
              <div class="row">
                <div class="col-md-4">Everton</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
              </div>
              <div class="row">
                <div class="col-md-4">Fulham</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
              </div>
              <div class="row">
                <div class="col-md-4">Huddersfield</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
              </div>
              <div class="row">
                <div class="col-md-4">Leicester City</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
              </div>
              <div class="row">
                <div class="col-md-4">Liverpool</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
              </div>
              <div class="row">
                <div class="col-md-4">Manchester City</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
              </div>
              <div class="row">
                <div class="col-md-4">Manchester United</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
              </div>
              <div class="row">
                <div class="col-md-4">Newcastle United</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
              </div>
              <div class="row">
                <div class="col-md-4">Southampton</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
              </div>
              <div class="row">
                <div class="col-md-4">Tottenham</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
              </div>
              <div class="row">
                <div class="col-md-4">Watford</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
              </div>
              <div class="row">
                <div class="col-md-4">West Ham</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
              </div>
              <div class="row">
                <div class="col-md-4">Wolverhampton</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
                <div class="col-md-1">0</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 w-25">
    <div class="container">
      <div class="row">
        <div class="col-md-12"></div>
      </div>
    </div>
  </div>