<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-2">
          <div style="">
            <span style="color: inherit; font-size: 5.5rem;">TipPlus</span>
            <span class="badge badge-pill badge-secondary">+</span>
          </div>
        </h1>
      </div>
    </div>
  </div>
</div>
<div class="py-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="">Pick anything, anywhere.</h1>
      </div>
    </div>
  </div>
</div>
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form (ngSubmit)="login()">
          <div class="form-group col-md-12">
            <label>Username</label>
            <input
              type="text"
              name="emailOrUsername"
              [(ngModel)]="emailOrUsername"
              [ngClass]="{ 'form-control' : true, 'border-danger' : loginAttemptFailed }"
              placeholder="Your email" required>
          </div>
          <div class="form-group col-md-12">
            <label>Password</label>
            <input
              name="password"
              type="password"
              [(ngModel)]="password"
              [ngClass]="{ 'form-control' : true, 'border-danger' : loginAttemptFailed }"
              placeholder="Password" required>
          </div>
          <div class="form-group col-md-12">
            <div class="">
              <button type="submit" class="btn btn-outline-primary">Login</button>
            </div>
            <p>
              Don't have an account yet? Why not <a routerLink="/register">register?</a>
            </p>
            <div *ngIf="loginAttemptFailed" class="">
              <span class="text-danger">Username or password incorrect. Please try again.</span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="py-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="btn-group btn-group-sm float-right float-md-right">
          <a href="#" class="btn btn-outline-primary">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>
</div>
