<form>
  <h2>Login</h2>

  <div class="form-group">
    <label for="email">Email</label>
    <div class="input-group">
      <input id="email" class="form-control" placeholder="Your email" name="dp"
      required>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <div class="input-group">
      <input
        id="password"
        class="form-control"
        type="password"
        placeholder="Password..." name="password"
        required>
    </div>
  </div>

  <button class="btn btn-primary">Login</button>
  <p>
    Don't have an account yet? Why not <a routerLink="/register">register?</a>
  </p>

</form>
