<ngb-accordion [closeOthers]="true"  activeIds="">
  <ngb-panel *ngFor="let sport of sports" title="{{ sport.label }}">
    <ng-template ngbPanelContent>
      <ul class="sport.leagues list-group">
        <li *ngFor="let league of sport.leagues" class="list-group-item">
          <div class="league">{{ league.name }}</div>
          <div class="league data" *ngIf="league.data">
            <!-- // add a button -->
            <input type="button" value="join" [routerLink]="['/round']">
            <!-- <button (click)="gotoLeague(league.name)">Join!</button> -->
            <!-- <span>{{ league.data.tournaments }} active tournaments </span>
            <span>with {{ league.data.players }} players</span> -->
          </div>
        </li>
      </ul>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

